body, html {
  background-color: #252a38;
}

.CV {
  transition: 0.7s;
  margin-left: 315px;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 900px;
  height: 1400px;
  border-radius: 12px;
  background: #384f8937;
  z-index: 999;
}

.silhouette1 {
  position: fixed;
  top: 300px;
  left: 1200px;
  width: 100px;
  height: 50px;
  background-color: #058359;
  filter: blur(25px);
  border-radius: 999px;
  transform: scale(3.5) skew(50deg, 0);
  z-index: 1;
}

h1 {
  position: relative;
  top: -150px;
  right: 370px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h2 {
  color: white;
}

p {
  text-align: justify;
  color: white;
  width: 300px;
}

.photo {
  position: relative;
  top: 50px;
  left: 85px;
  width: 175px;
  border-radius: 20px;
}

#description {
  position: relative;
  left: 380px;
  top: -140px;
  color: white;
  text-align: justify;
  width: 400px;
}

#exp {
  position: relative;
  bottom: 60px;
  left: 80px;
}

#stage {
  position: relative;
  bottom: 60px;
  left: 80px;
  color: white;
}

#etu {
  position: relative;
  top: 10px;
  left: 80px;
}

#lycee2 {
  position: relative;
  top: 20px;
  left: 80px;
  color: white;
  line-height: 30px;
}

#lycee1 {
  position: relative;
  top: 40px;
  left: 80px;
  color: white;
  line-height: 30px;
}

#college {
  position: relative;
  top: 60px;
  left: 80px;
  color: white;
  line-height: 30px;
}

#inte {
  position: relative;
  top: 130px;
  left: 80px;
}

#cont_inte {
  position: relative;
  top: 130px;
  left: 80px;
  color: white;
  line-height: 30px;
}

#lang {
  position: relative;
  top: 200px;
  left: 80px;
}

#cont_lang {
  position: relative;
  top: 200px;
  left: 80px;
  line-height: 30px;
  color: white;
}

#comp {
  position: relative;
  top: -820px;
  left: 520px;
}

#cont_comp {
  position: relative;
  top: -800px;
  left: 520px;
  line-height: 30px;
}

#quali {
  position: relative;
  top: -720px;
  left: 520px;
}

#cont_quali {
  position: relative;
  top: -700px;
  left: 520px;
  line-height: 30px;
}

#contact {
  position: relative;
  top: -610px;
  left: 560px;
}

#mail {
  position: relative;
  top: -610px;
  left: 540px;
}





.carte1 {
  position: relative;
  top: -600px;
  left: 500px;
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.carte2 {
  position: relative;
  top: -604px;
  left: 530px;
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.linkedin {
  margin-top: -.9em;
  margin-left: -1.2em;
  width: 20px;
  height: 20px;
  fill: black;
}

.carte1:hover {
  cursor: pointer;
  scale: 1.15;
  background-color: black;
}

.carte1:hover .github {
  fill: white;
}

.carte2:hover {
  cursor: pointer;
  scale: 1.15;
  background-color: black;
}

.carte2:hover .linkedin {
  fill: white;
}