body, html {
    margin: 0;
    padding: 0;
    background-color: #182546;
    font-family: mclaren-bespoke, Courier New, Arial;
    font-weight: 600;
    overflow-x: hidden;
    position: relative;
    cursor: none;
  }
  
  #header {
    position: relative;
    z-index: 1;
  }

  footer {
    margin-bottom: 1000px;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 10px 20px;
    z-index: 2;
  }
  
  header img.logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-right: 200px;
    align-content: space-between;
    background-color: transparent;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 45px;
    margin-top: 30px;
    position: relative;
  }
  
  nav a {
    text-decoration: none;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.775);
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -200px;
    background: linear-gradient(to top right, #363F44, #1B1F23);
    border-bottom: white;
    border-radius: 0 0 3px 3px;
    margin-right: 100px;
    width: 1000px;
    height: 300px;
  }
  
  nav li:hover > ul {
    display: block;
    animation: none;
  }
  
  nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul li:hover>ul {
    display: inherit;
  }
  
  nav ul ul a {
    padding: 10px 15px;
    color: #dbd2de;
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  
  .parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .parallax-image {
    background-image: url('https://images2.alphacoders.com/982/982782.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -40px;
    left: -75px;
    width: 110%;
    height: 110%;
    transform: translateZ(0);
  }
  
  .cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    transition: transform 0.075s ease-out;
    z-index: 1001;
  }
  
  .burger {
    display: flex;
    margin-left: 1400px;
    margin-top: -30px;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    z-index: 501;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
  
  .burger input:checked ~ .menu-overlay {
    display: flex;
  }
  
  .burger input ~ .menu-overlay {
    animation: slideOut 0.5s forwards;
  }
  
  .menu-overlay {
    display: none;
    position: fixed;
    margin-left: 1150px;
    margin-top: -89px;
    left: 100%;
    width: 500px;
    height: 768px;
    background: rgba(240, 238, 238, 0.9);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 500;
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    to {
        left: 0;
    }
  }
  
  @keyframes slideOut {
    to {
        left: 100%;
    }
  }
  
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    display: flex;
    flex-direction: column;
    line-height: 70px;
    margin-right: 90px;
    margin-bottom: 90px;
  }
  
  .menu a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .paraL {
    z-index: 999;
    position: relative;
    margin-top: 350px;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    margin-left: 320px;
    padding: 1rem;
    width: 400px;
    height: 650px;
    background: #0f172a;
    transition: transform 0.4s;
    animation: paraL 2s ease 0s 1 normal none;
  }

  .paraL:hover {
    transform: scale(103%);
  }
  
  @keyframes paraL {
      0% {
          opacity: 0;
          transform: translateX(-250px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  
  .paraL p {
    margin: 0;
  }
  
  .paraR {
    z-index: 999;
    margin-top: 350px;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    margin-right: 320px;
    padding: 1rem;
    width: 400px;
    height: 650px;
    background: #0f172a;
    transition: transform 0.4s;
    animation: paraR 2s ease 0s 1 normal none;
  }

  .paraR:hover {
    transform: scale(103%);
  }
  
  @keyframes paraR {
      0% {
          opacity: 0;
          transform: translateX(250px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

    .silhouette {
    position: fixed;
    margin-top: 200px;
    margin-left: 1000px;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
    background-color: #4065c1; 
    filter: blur(25px);
    transform: scale(3.5) skew(50deg, 0);
    border-radius: 45%;
    z-index: 0;
}

  body aside {
    display: flex;
    justify-content: space-around;
  }

body aside div img {
  width: 270px;
}

.GTR {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 70px;
  left: 30px;
}

.senna {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 210px;
  left: 30px;
}

.LT {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 80px;
  left: 110px;
}

.artura {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 210px;
  left: 110px;
}

h6 {
  color: white;
  font-size: 17px;
}

.fil0 {
  fill: #FFFDEF
}


.test {
  position: absolute;
  top: 2000px;
  left: 500px;
  width: 400px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  filter: blur(15px);
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  z-index: 775;
  animation: rotation 0.3s infinite linear;
}

.star-1 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-1 {
  position: absolute;
  top: 115px;
  left: 85px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-2 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-2 {
  position: absolute;
  top: 150px;
  left: 294px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-3 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-3 {
  position: absolute;
  top: 100px;
  left: 170px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-4 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-4 {
  position: absolute;
  top: 50px;
  left: 110px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-5 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-5 {
  position: absolute;
  top: 65px;
  left: 240px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-6 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-6 {
  position: absolute;
  top: 80px;
  left: 340px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-7 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-7 {
  position: absolute;
  top: 25px;
  left: 220px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-8 {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-8 {
  position: absolute;
  top: 10px;
  left: 320px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}













.star-9 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-9 {
  position: absolute;
  top: 470px;
  left: 90px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-10 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-10 {
  position: absolute;
  top: 460px;
  left: 245px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-11 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-11 {
  position: absolute;
  top: 490px;
  left: 190px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-12 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-12 {
  position: absolute;
  top: 535px;
  left: 60px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-13 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-13 {
  position: absolute;
  top: 600px;
  left: 230px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-14 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-14 {
  position: absolute;
  top: 615px;
  left: 55px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-15 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-15 {
  position: absolute;
  top: 650px;
  left: 165px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-16 {
  position: absolute;
  top: 410px;
  left: 165px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraL:hover .star-16 {
  position: absolute;
  top: 565px;
  left: 155px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





























.star-17 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-17 {
  position: absolute;
  top: 170px;
  left: 170px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-18 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-18 {
  position: absolute;
  top: 155px;
  left: 320px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-19 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-19 {
  position: absolute;
  top: 110px;
  left: 140px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-20 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-20 {
  position: absolute;
  top: 95px;
  left: 265px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-21 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-21 {
  position: absolute;
  top: 65px;
  left: 370px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-22 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-22 {
  position: absolute;
  top: 110px;
  left: 390px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-23 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-23 {
  position: absolute;
  top: 45px;
  left: 190px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-24 {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-24 {
  position: absolute;
  top: 20px;
  left: 290px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}





















.star-25 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-25 {
  position: absolute;
  top: 560px;
  left: 120px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-26 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-26 {
  position: absolute;
  top: 155px;
  left: 320px;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 5s infinite linear;
}

.star-27 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-27 {
  position: absolute;
  top: 110px;
  left: 140px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-28 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-28 {
  position: absolute;
  top: 95px;
  left: 265px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-29 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-29 {
  position: absolute;
  top: 65px;
  left: 370px;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 4s infinite linear;
}

.star-30 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-30 {
  position: absolute;
  top: 110px;
  left: 390px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-31 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-31 {
  position: absolute;
  top: 45px;
  left: 190px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}

.star-32 {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 0px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.paraR:hover .star-32 {
  position: absolute;
  top: 20px;
  left: 290px;
  width: 7px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 1;
  animation: rotation 3s infinite linear;
}