.parallax {
    background-image: url(images/background/white2.jpg);
    min-height : 4000px;
    background-attachment: scroll;
    background-repeat : no-repeat;
    background-size : cover;
    }

.title {
  position: relative;
  margin-top: 150px;
  top: -50px;
  left: 600px;
  border: none;
  background: transparent;
  --stroke-color: #ffffff7c;
  --ani-color: rgba(95, 3, 244, 0);
  --color-gar: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,67,67,1) 10%, rgba(123,118,118,1) 20%, rgba(164,156,156,1) 30%, rgba(198,192,192,1) 40%, rgba(226,218,218,1) 50%, rgba(198,192,192,1) 60%, rgba(164,156,156,1) 70%, rgba(123,118,118,1) 80%, rgba(71,67,67,1) 90%, rgba(0,0,0,1) 100%);
  letter-spacing: 3px;
  font-size: 4em;
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-color);
  cursor: pointer;
  z-index: 999;
}

.after-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: var(--color-gar);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  overflow: hidden;
  transition: all 1s;
  animation: 8s ani infinite;
  border-bottom: 2px solid transparent;
}

.title:hover .after-text {
  width: 100%;
  border-bottom: 2px solid #000000;
  -webkit-text-stroke: 1px var(--ani-color);
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 400%;
  }

  100% {
    background-position: 0%;
  }
}

section img {
    position: relative;
    width: 240px;
    height: 240px;
    background: #0B090A;
    border-radius: 20px;
    transition: all 0.4s;
}

section img:hover {
    transform: scale(108%);
    box-shadow: 9px 9px 19px 5px rgba(57,57,57,0.9);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.ligne1 {
    margin-top: 75px;
}

.ligne2 {
    margin-top: 150px;
}

.ligne3 {
    margin-top: 150px;
    margin-bottom: 200px;
}

.ban {
    display: flex;
    justify-content: center;
}

.banner {
    position: relative;
    margin-top: 30px;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    transition: all 0.4s;
}

.banner:hover {
    transform: scale(108%)
}


.section img {
    position: relative;
    overflow: hidden;
    width: 12em;
    height: 12em;
  }

  section img:before {
    content: '';
    position: absolute;
    height: 130%;
    width: 0.6em;
    background-color: aliceblue;
    opacity: 0.3;
    animation: glider 1.8s infinite linear;
    animation-delay: 0.05s;
  }
  
  section img:after {
    content: '';
    position: absolute;
    height: 130%;
    width: 0.4em;
    background-color: aliceblue;
    opacity: 0.2;
    animation: glider 1.8s infinite linear;
  }
  
  @keyframes glider {
    0% {
      transform: rotate(45deg) translate(-140px, -140px);
    }
  
    100% {
      transform: rotate(45deg) translate(220px, -40px);
    }
  }